{% extends "core/base.html" %}

{% block title %}Informations de contact{% endblock %}

{% block content %}
    <h1 class="text-2xl font-semibold mb-4">Informations de contact de {{ other_user.username }}</h1>
    <ul class="bg-white p-6 rounded shadow-md">
        <li><strong>Prénom :</strong> {{ other_user.first_name }}</li>
        <li><strong>Nom :</strong> {{ other_user.last_name }}</li>
        <li><strong>Email :</strong> <a href="mailto:{{ other_user.email }}" class="text-blue-600 hover:underline">{{ other_user.email }}</a></li>
    </ul>
{% endblock %}
