{% extends "core/base.html" %}

{% block title %}Mes demandes d'aide{% endblock %}

{% block content %}
    <h1 class="text-2xl font-semibold mb-4">Mes demandes d'aide</h1>
    <ul class="space-y-4">
        {% for request in user_requests %}
            <li class="p-4 bg-white rounded shadow-md">
                <p><strong>Activité :</strong> {{ request.description }}</p>
                <p><strong>Compétence requise :</strong> {{ request.competence_needed.name }}</p>
                <p><strong>Date :</strong> {{ request.slot.date }}</p>
            </li>
        {% empty %}
            <li class="text-gray-600">Vous n'avez pas encore de demandes d'aide.</li>
        {% endfor %}
    </ul>
{% endblock %}
