{% extends "core/base.html" %}

{% block title %}Mes créneaux{% endblock %}

{% block content %}
    <h1>Mes créneaux</h1>
    <ul>
        {% for slot in slots %}
            <li>Date : {{ slot.date }} - Compétence : {{ slot.competence.name }} - 
                Objectif : {% if slot.purpose == 'aid' %}Pour aider{% else %}Demande d'aide{% endif %}
                - <a href="{% url 'delete_slot' slot.id %}">Supprimer</a>
            </li>
        {% empty %}
            <li>Vous n'avez pas encore de créneaux.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'add_slot' %}">Ajouter un créneau</a>
{% endblock %}
